In [1]:
import pandas as pd
import numpy as np

In [2]:
forecast = pd.read_csv('./Data/forecast.csv')
forecast.head()

,Product,date,Sales,Price Discount (%),In-Store Promo,Catalogue Promo,Store End Promo,Google_Mobility,Covid_Flag,V_DAY,EASTER,CHRISTMAS
0,SKU1,2/5/2017,27750,0%,0,0,0,0.0,0,0,0,0
1,SKU1,2/12/2017,29023,0%,1,0,1,0.0,0,1,0,0
2,SKU1,2/19/2017,45630,17%,0,0,0,0.0,0,0,0,0
3,SKU1,2/26/2017,26789,0%,1,0,1,0.0,0,0,0,0
4,SKU1,3/5/2017,41999,17%,0,0,0,0.0,0,0,0,0

In [3]:
forecast.shape

(1218, 12)

In [4]:
forecast.Product.unique()

array(['SKU1', 'SKU2', 'SKU3', 'SKU4', 'SKU5', 'SKU6'], dtype=object)

In [5]:
forecast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product             1218 non-null   object
 1   date                1218 non-null   object
 2   Sales               1218 non-null   int64
 3   Price Discount (%)  1218 non-null   object
 4   In-Store Promo      1218 non-null   int64
 5   Catalogue Promo     1218 non-null   int64
 6   Store End Promo     1218 non-null   int64
 7   Google_Mobility     1218 non-null   float64
 8   Covid_Flag          1218 non-null   int64
 9   V_DAY               1218 non-null   int64
 10  EASTER              1218 non-null   int64
 11  CHRISTMAS           1218 non-null   int64
dtypes: float64(1), int64(8), object(3)
memory usage: 114.3+ KB

In [6]:
forecast.duplicated().sum()

0

In [7]:
forecast.isnull().sum()

Product               0
date                  0
Sales                 0
Price Discount (%)    0
In-Store Promo        0
Catalogue Promo       0
Store End Promo       0
Google_Mobility       0
Covid_Flag            0
V_DAY                 0
EASTER                0
CHRISTMAS             0
dtype: int64

There are no duplicate or null values.

In [8]:
forecast[forecast["Google_Mobility"] > 0.0]

,Product,date,Sales,Price Discount (%),In-Store Promo,Catalogue Promo,Store End Promo,Google_Mobility,Covid_Flag,V_DAY,EASTER,CHRISTMAS
157,SKU1,2/9/2020,29239,1%,1,0,1,2.36,1,0,0,0
158,SKU1,2/16/2020,45572,17%,0,0,0,3.30,1,1,0,0
159,SKU1,2/23/2020,29275,1%,0,0,0,3.90,1,0,0,0
160,SKU1,3/1/2020,35684,1%,0,0,0,3.81,1,0,0,0
161,SKU1,3/8/2020,36955,1%,0,0,0,3.01,1,0,0,0
162,SKU1,3/15/2020,56886,1%,0,0,0,0.26,1,0,0,0
361,SKU2,2/9/2020,6993,25%,0,0,0,2.36,1,0,0,0
362,SKU2,2/16/2020,2857,1%,1,0,0,3.30,1,1,0,0
363,SKU2,2/23/2020,9823,26%,1,0,0,3.90,1,0,0,0
364,SKU2,3/1/2020,9807,26%,0,0,0,3.81,1,0,0,0
365,SKU2,3/8/2020,3759,1%,0,0,0,3.01,1,0,0,0
366,SKU2,3/15/2020,5999,1%,0,0,0,0.26,1,0,0,0
565,SKU3,2/9/2020,15286,67%,0,1,1,2.36,1,0,0,0
566,SKU3,2/16/2020,187548,51%,1,0,1,3.30,1,1,0,0
567,SKU3,2/23/2020,31172,74%,0,1,0,3.90,1,0,0,0
568,SKU3,3/1/2020,76759,80%,1,0,1,3.81,1,0,0,0
569,SKU3,3/8/2020,16311,67%,0,1,0,3.01,1,0,0,0
570,SKU3,3/15/2020,102770,48%,1,0,1,0.26,1,0,0,0
769,SKU4,2/9/2020,4218,51%,0,1,1,2.36,1,0,0,0
770,SKU4,2/16/2020,58091,27%,1,0,1,3.30,1,1,0,0
771,SKU4,2/23/2020,8486,62%,0,1,0,3.90,1,0,0,0
772,SKU4,3/1/2020,21180,51%,1,0,1,3.81,1,0,0,0
773,SKU4,3/8/2020,4306,51%,0,1,0,3.01,1,0,0,0
774,SKU4,3/15/2020,32133,70%,1,0,1,0.26,1,0,0,0
973,SKU5,2/9/2020,13686,25%,0,0,0,2.36,1,0,0,0
974,SKU5,2/16/2020,5999,1%,0,0,0,3.30,1,1,0,0
975,SKU5,2/23/2020,5666,0%,0,0,0,3.90,1,0,0,0
976,SKU5,3/1/2020,5719,1%,0,0,0,3.81,1,0,0,0
977,SKU5,3/8/2020,6201,0%,0,0,0,3.01,1,0,0,0
978,SKU5,3/15/2020,6808,1%,1,0,0,0.26,1,0,0,0
1177,SKU6,2/9/2020,32102,69%,1,0,0,2.36,1,0,0,0
1178,SKU6,2/16/2020,10955,53%,1,0,1,3.30,1,1,0,0
1179,SKU6,2/23/2020,24330,69%,0,0,0,3.90,1,0,0,0
1180,SKU6,3/1/2020,9934,53%,1,0,1,3.81,1,0,0,0
1181,SKU6,3/8/2020,24731,69%,0,0,0,3.01,1,0,0,0
1182,SKU6,3/15/2020,11742,53%,1,0,0,0.26,1,0,0,0

In [9]:
forecast["Google_Mobility"].max()

3.9

In [10]:
forecast.describe()

,Sales,In-Store Promo,Catalogue Promo,Store End Promo,Google_Mobility,Covid_Flag,V_DAY,EASTER,CHRISTMAS
count,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000
mean,30294.678982,0.472085,0.212644,0.348933,-2.377406,0.226601,0.019704,0.019704,0.018883
std,35032.527297,0.499425,0.409346,0.476828,5.806291,0.418804,0.139040,0.139040,0.136169
min,0.000000,0.000000,0.000000,0.000000,-28.490000,0.000000,0.000000,0.000000,0.000000
25%,7212.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19742.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,40282.250000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,288322.000000,1.000000,1.000000,1.000000,3.900000,1.000000,1.000000,1.000000,1.000000

In [13]:
forecast.head(3)

,Product,date,Sales,Price Discount (%),In-Store Promo,Catalogue Promo,Store End Promo,Google_Mobility,Covid_Flag,V_DAY,EASTER,CHRISTMAS
0,SKU1,2/5/2017,27750,0%,0,0,0,0.0,0,0,0,0
1,SKU1,2/12/2017,29023,0%,1,0,1,0.0,0,1,0,0
2,SKU1,2/19/2017,45630,17%,0,0,0,0.0,0,0,0,0

In [14]:
import datetime
forecast['date'] = pd.to_datetime(forecast['date'], format='%m/%d/%Y')

In [15]:
forecast.head(3)

,Product,date,Sales,Price Discount (%),In-Store Promo,Catalogue Promo,Store End Promo,Google_Mobility,Covid_Flag,V_DAY,EASTER,CHRISTMAS
0,SKU1,2017-02-05,27750,0%,0,0,0,0.0,0,0,0,0
1,SKU1,2017-02-12,29023,0%,1,0,1,0.0,0,1,0,0
2,SKU1,2017-02-19,45630,17%,0,0,0,0.0,0,0,0,0

In [16]:
forecast["date"].min()

Timestamp('2017-02-05 00:00:00')

In [17]:
forecast["date"].max()

Timestamp('2020-12-27 00:00:00')